<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>
<body>
    <%- draw_header() %>

    <div class="make_a_post">
        <h2>Edit Post</h2>
        <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
            <input type="text" name="username" value="<%= post.username %>" required><br>
            <input type="text" name="title" value="<%= post.title %>" required><br>
            <textarea name="content" required><%= post.content %></textarea><br>
            <button>Update Post</button>
        </form>
    </div>
    <script src="/js/darkMode.js"></script>

</body>
</html>
