<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/css/edit.css">
    <style>.flash {
        padding: 10px;
        margin: 15px auto;
        width: 90%;
        max-width: 600px;
        border-radius: 6px;
        font-weight: bold;
        text-align: center;
      }
      
      .flash.success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
      }
      
      .flash.error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
      }
      </style>
</head>
<body>

      
    <%- draw_header() %>
    <% if (success && success.length > 0) { %>
        <div class="flash success"><%= success %></div>
      <% } %>
      
      <% if (error && error.length > 0) { %>
        <div class="flash error"><%= error %></div>
      <% } %>

    <div class="make_a_post">
        <h2>Edit Post</h2>
        <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
            <input type="text" name="Post[username]" value="<%= post.username %>" required><br>
            <input type="text" name="Post[title]" value="<%= post.title %>" required><br>
            <textarea name="Post[content]" ><%= post.content %></textarea><br>
            <button>Update Post</button>
        </form>
    </div>
    <script src="/js/darkMode.js"></script>

</body>
</html>
