<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peddit Posts</title>
    <link rel="stylesheet" href="/css/posts.css">
</head>

<body>
    <div class="navbar">
        <a href="/">
            <img src="/img/peddit_logo.png" alt="Peddit Logo" id="logo">
        </a>
        <button id="toggle" class="post-btn">Dark Mode</button>
        <a href="./posts/make_a_post"><button class="post-btn">Add Post</button></a>
    </div>

    <% posts.forEach(post => { %>
    <div class="post">
        <div class="initial-heading">
            <h2 class="post-username">@<%= post.username %></h2>
            <p class="id">#<%= post.id %></p>
        </div>
        <h3 class="post-title"><%= post.title %></h3>
        <p class="post-content"><%- post.content %></p>
        <a href="./posts/<%= post.id %>"><button class="post-btn">See Details</button></a>
    </div>
    <% }) %>
    <script src="/js/darkMode.js"></script>

</body>

</html>
